---
layout: default
type: post
---
<div class="post">
  <div class="post-header">
    <h3>{{ page.title }}</h3>
    <p class="post__meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </div>

  <article class="post-content">
  {{ content }}
  </article>

  <div class="callout  callout--center">Like this post?
    <a class="brand-twitter" href="http://twitter.com/?status={{ page.title }}: {{ page.url | prepend: site.url}} by @markgdyr" target="_blank">Tweet it!</a>
  </div>
</div>
 